/* Style/position the footer text */
#header-footer .slide-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14px;
  text-align: right;
  font-size: 150%;
  font-family: "Lato", sans-serif;
  margin-right: 50px;
  margin-bottom: 100px;
}
